[submodule "lib/bruces"]
	path = lib/bruces
	url = https://github.com/overridelogic/bruces.git
	branch = v0.2.3-dev
[submodule "IbPy"]
	path = IbPy
	url = https://github.com/blampe/IbPy.git
[submodule "theanets"]
	path = theanets
	url = https://github.com/lmjohns3/theanets.git
[submodule "dx"]
	path = dx
	url = https://github.com/yhilpisch/dx.git
